.CalendarDay__selected_span {
    background: #82e0aa; 
    color: white; 

    font-size:10px;
  }
  
  .CalendarDay__selected {
    color: white;
  }
  
 
  .CalendarDay__selected:hover {
    background: orange;
    color: white;
  }
  
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: rgb(183, 213, 233);
  }
  .DateInput {
    font-size: 8px;
    font-weight: normal;
    line-height: normal;

    width: 120px;
  }
  .DateRangePickerInput_arrow {
    width: 25px;
  }
  .DateInput_input{
    font-size: 1.2rem;

  } 
  .DateInput_input_1{

 font-size: 1.2rem;
  }
 